
.DS_Store

.vscode

lib

build

temp/

deps/godot-cpp/*

project/.godot
project/*.*
project/addons/HoudiniEngineForGodot/bin/*

.sconsign.dblite

*.os
compile_commands.json

*.old
design.gd 
TodoList.txt