
.DS_Store

.vscode

lib

build

temp/

__pycache__

deps/godot-cpp/*
src/gen

project/.godot
project/*.*
project/addons/HoudiniEngineForGodot/bin/*

.sconsign.dblite

*.os
compile_commands.json

*.old
design.gd 
TodoList.txt
test.py
*.o
*.obj