
.DS_Store

.vscode

lib

build

temp

deps/godot-cpp/*

project/.godot
project/*.*
project/addons/HoudiniEngineForGodot/bin/*
project/addons/houdini_engine_godot/bin

.sconsign.dblite

*.os
compile_commands.json